@import '@fontsource/inter';
@import '@fontsource/knewave';

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply scroll-smooth font-sans antialiased;
}

html,
body,
#root {
  @apply h-full;
}

::-webkit-scrollbar {
  @apply w-2;
}

::-webkit-scrollbar-track {
  @apply bg-white/20;
}

::-webkit-scrollbar-thumb {
  @apply bg-white/60;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-amber-400;
}
